{% extends 'gallery/base.html' %}

{% block content %}
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {% for image in images %}
    <div class="border rounded-lg p-2 bg-white">
        <img src="{{ image.image.url }}" alt="{{ image.title }}" class="w-full h-48 object-cover">
        <h2 class="text-lg font-semibold mt-2">{{ image.title }}</h2>
        <a href="{{ image.image.url }}" download class="text-blue-500 mt-2 inline-block">Download</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
